<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register new customer</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<body>
	<!-- Navigation -->
	<div th:replace="~{/home/index :: navigation}"></div>
	<div class="container">
	</div>
</body>
</html>